@font-face {
  font-family: iranSans;
  src: url("../fonts/IRANSans.ttf");
}
* {
  font-family: iranSans;
}

header {
  max-width: 1800px;
  margin: 0 auto;
  background: white;
}
header .titr {
  height: 60px;
  background: #6ecb63;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .titr p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6ecb63;
  background: white;
  border-radius: 20px;
  padding: 5px 40px;
  font-size: 18px;
}
header nav {
  padding: 10px 0 0 0;
}
header nav .top {
  display: flex;
  justify-content: space-between;
}
header nav .top .right {
  width: 65%;
  display: flex;
  direction: rtl;
  align-items: center;
}
header nav .top .right .logo {
  max-width: 150px;
  height: 80px;
  margin-right: 20px;
}
header nav .top .right .search_input {
  width: 70%;
  height: 60px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
header nav .top .right .search_input input {
  outline: none;
  border: none;
  color: black;
  background: transparent;
  margin-right: 15px;
  width: 100%;
}
header nav .top .right .search_input i {
  color: #b6b6b6;
  font-size: 20px;
  margin-right: 10px;
}
header nav .top .left {
  width: 35%;
  margin-left: 40px;
}
header nav .top .left label {
  display: none;
}
header nav .top .left .sign_in_and_other {
  display: flex;
  align-items: center;
  cursor: default;
}
header nav .top .left .sign_in_and_other i {
  color: #636262;
  font-size: 26px;
  margin-right: 15px;
}
header nav .top .left .sign_in_and_other .sign_in {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: 20px;
  color: #636262;
}
header nav .top .left .sign_in_and_other .sign_in i {
  rotate: 180deg;
  margin: 0 0 0 20px;
}
header nav .menu {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: end;
}
header nav .menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  transition: 0.2s;
}
header nav .menu ul li:hover > ul {
  opacity: 1;
  transition: 0.2s;
  display: block;
}
header nav .menu ul li ul {
  display: none;
  width: 250px;
  border-top: 2px solid #6ecb63;
  position: absolute;
  transition: 0.2s;
  text-align: right;
  padding: 10px;
  top: 30px;
  right: 0;
  font-size: inherit;
  opacity: 0;
  background: white;
  z-index: 10;
}
header nav .menu ul li ul li {
  padding: 10px 2px;
}
header nav .menu ul li a {
  transition: 0.2s;
}
header nav .menu ul li a:hover {
  color: #6ecb63;
  transition: 0.2s;
}
header nav #openNavMenu {
  display: none;
}

.explain_1 {
  text-align: center;
  margin: 150px 0;
}
.explain_1 p {
  margin-top: 30px;
  color: #4a4a4a;
}
.explain_1 p:nth-child(1) {
  width: 85%;
  margin: 0 auto;
  color: #636262;
}

.services {
  margin-top: 70px;
  border: 1px solid transparent;
}
.services h1 {
  text-align: center;
  color: #636262;
}
.services img {
  margin: 40px auto 0;
  display: block;
}
.services .services_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 100px 100px 0;
  gap: 20px;
}
.services .services_cards .card {
  text-align: center;
  border: 4px solid #6ecb63;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .services_cards .card h3 {
  font-size: 20px;
  color: black;
  margin-top: 30px;
}
.services .services_cards .card p {
  font-size: 16px;
  color: #636262;
}
.services .services_cards .card a {
  display: block;
  background: #6ecb63;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin-top: 30px;
  box-shadow: 0 0 5px #b6b6b6;
}
.services .services_cards .card i {
  color: #636262;
  font-size: 60px;
  border: 2px solid #6ecb63;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.HTML_Education {
  max-width: 1800px;
  margin: 0 auto;
  width: 85%;
  padding: 20px 0;
  margin-top: 100px;
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 30px;
  position: relative;
}
.HTML_Education .right_Arrow {
  width: 47px;
  height: 47px;
  position: absolute;
  background: white;
  border-radius: 50%;
  z-index: 1;
  right: 20px;
  top: 45%;
  border: 1px solid #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HTML_Education .right_Arrow i {
  font-size: 20px;
}
.HTML_Education .left_Arrow {
  width: 47px;
  height: 47px;
  position: absolute;
  background: white;
  border-radius: 50%;
  z-index: 1;
  left: 20px;
  top: 45%;
  border: 1px solid #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HTML_Education .left_Arrow i {
  font-size: 20px;
}
.HTML_Education .container {
  width: 300%;
  display: flex;
  font-size: 16px;
  position: relative;
  left: 0;
  transition: 0.3s;
}
.HTML_Education .container .card {
  background: white;
  border-radius: 25px;
  width: 19.5em;
  margin: 0.625rem;
  text-align: center;
  border: 1px solid #b6b6b6;
  position: relative;
}
.HTML_Education .container .card .eye {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #b6b6b6;
  background: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HTML_Education .container .card .eye i {
  color: white;
  font-size: 20px;
}
.HTML_Education .container .card img {
  display: block;
  width: 100%;
  height: 14.875em;
}
.HTML_Education .container .card .titr {
  background: rgba(109, 203, 99, 0.3215686275);
  color: #4a4a4a;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.75em;
  direction: rtl;
  margin: 10px 0 0 0;
  display: inline-block;
  cursor: default;
}
.HTML_Education .container .card .explain {
  font-size: 15px;
  color: #4a4a4a;
  margin: 5px 5px 0;
  text-align: right;
  margin: 20px 20px 0;
  cursor: default;
}
.HTML_Education .container .card .price {
  font-size: 24px;
  color: #4a4a4a;
  text-align: center;
  margin: 20px 0 20px 0;
  cursor: default;
  direction: rtl;
}

.plan {
  max-width: 1800px;
  margin: 0 auto;
  margin: 100px;
  font-size: 16px;
}
.plan .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
}
.plan .container .card {
  border-radius: 20px;
  border: 1px solid #e9e3e2;
  overflow: hidden;
}
.plan .container .card .top {
  background: #e9e3e2;
  padding: 20px 10px;
}
.plan .container .card .top p {
  text-align: center;
}
.plan .container .card .top p:nth-child(1) {
  font-size: 32px;
  color: #4a4a4a;
}
.plan .container .card .top p:nth-child(2) {
  font-size: 18px;
  color: #4a4a4a;
}
.plan .container .card > p {
  text-align: center;
  color: #4a4a4a;
}
.plan .container .card > p:nth-child(2) {
  font-size: 40px;
  margin-top: 15px;
}
.plan .container .card > p:nth-child(3) {
  font-size: 24px;
}
.plan .container .card label {
  width: 50%;
  color: white;
  margin: 30px auto 30px;
  background: #978481;
  border-radius: 10px;
  display: block;
  padding: 10px 0;
  text-align: center;
  box-shadow: 2px 2px 4px #b6b6b6;
}
.plan .container .card:nth-child(1) input {
  display: none;
}
.plan .container .card:nth-child(1) input:checked + .explain {
  display: block;
  transition: 0.5s;
}
.plan .container .card:nth-child(2) input {
  display: none;
}
.plan .container .card:nth-child(2) input:checked + .explain {
  display: block;
  transition: 0.5s;
}
.plan .container .card:nth-child(3) input {
  display: none;
}
.plan .container .card:nth-child(3) input:checked + .explain {
  display: block;
  transition: 0.5s;
}
.plan .container .card .explain {
  direction: rtl;
  overflow: hidden;
  display: none;
  transition: 0.5s;
}
.plan .container .card .explain p {
  font-size: 16px;
  margin: 10px 10px;
}

footer {
  padding: 30px 0 0 0;
  max-width: 1800px;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 100px;
  border-top: 4px solid #6ecb63;
}
footer .top {
  padding: 0 70px;
}
footer .top > p {
  color: #4a4a4a;
  direction: rtl;
}
footer .top .logo {
  direction: rtl;
}
footer .menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  direction: rtl;
  margin: 70px 70px;
  font-size: 16px;
}
footer .menu .title {
  color: #4a4a4a;
  cursor: default;
}
footer .menu .title::after {
  content: "";
  display: block;
  width: 50%;
  position: relative;
  height: 2px;
  background: #1b3e1a;
  margin: 5px 0;
}
footer .menu ul {
  margin: 10px 0 0 0;
}
footer .menu ul li {
  margin: 10px 0 0 0;
}
footer .menu ul li a {
  display: inline-block;
  position: relative;
  color: #4a4a4a;
  transition: 0.2s;
  right: 0;
}
footer .menu ul li a:hover {
  right: 4px;
  transition: 0.2s;
  font-weight: bold;
}
footer .menu .Enamad {
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .menu .Enamad img {
  display: inline-block;
}
footer .menu .NoTitle {
  margin-top: 40px;
}
footer .line {
  background: #6ecb63;
  height: 2px;
}
footer .bottom {
  padding: 10px 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
footer .bottom .social_media i {
  color: #636262;
  font-size: 26px;
  margin: 0 10px;
  transition: 0.2s;
}
footer .bottom .social_media i:hover {
  transition: 0.2s;
  color: #6ecb63;
}
footer .bottom ul li {
  display: inline-block;
  margin: 0 10px;
}
footer .bottom ul li a {
  color: #636262;
}
footer .bottom p {
  color: #636262;
}

@media only screen and (max-width: 992px) {
  header {
    overflow: hidden;
  }
  header .titr {
    display: none;
  }
  header nav {
    position: relative;
  }
  header nav .top {
    display: block;
  }
  header nav .top .right {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  header nav .top .right .logo {
    display: none;
  }
  header nav .top .right .search_input {
    display: block;
    width: 90%;
    margin: 50px auto;
  }
  header nav .top .right .search_input input {
    width: 80%;
  }
  header nav .top .left {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  header nav .top .left label {
    display: inline-block;
  }
  header nav .top .left label i {
    font-size: 30px;
    color: #636262;
  }
  header nav .menu {
    position: absolute;
    z-index: 50;
    width: 50%;
    right: -70%;
    top: 70px;
    background: white;
    height: 900px;
    transition: 0.5s;
  }
  header nav .menu ul {
    display: block;
  }
  header nav .menu ul li {
    display: block;
    text-align: center;
  }
  header nav .menu ul li a {
    display: inline-block;
    padding: 10px 0;
  }
  header nav #openNavMenu {
    display: none;
  }
  header nav #openNavMenu:checked + .menu {
    right: 0;
    transition: 0.5s;
    display: block;
    z-index: 55;
  }
  footer .menu {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }
  .services .services_cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 100px 50px 0;
  }
}
@media only screen and (max-width: 768px) {
  .services .services_cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .HTML_Education .container {
    font-size: 12px;
  }
  .HTML_Education .container .card {
    min-width: 200px;
  }
  .plan {
    margin: 100px 50px;
  }
  .plan .container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
  footer .menu {
    margin: 70px 40px;
  }
  footer .bottom {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .services .services_cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .HTML_Education .container .card {
    min-width: 250px;
  }
  footer .menu {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .bottom {
    padding: 10px 20px;
  }
}/*# sourceMappingURL=home.css.map */