$baseGreen: #6ecb63;
$darkGreen: #1b3e1a;
$textGray2: #636262;
$textGray: #4a4a4a;
$gray2: #b6b6b6;
$gray: #f5f5f5;
$darkGray: #4a4a4a;
$lightBrown: #e9e3e2;
$darkBrown: #978481;

@mixin CenterElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin MaxWidth {
  max-width: 1800px;
  margin: 0 auto;
}
@font-face {
  font-family: iranSans;
  src: url("../fonts/IRANSans.ttf");
}
* {
  font-family: iranSans;
}

header {
  @include MaxWidth();
  background: white;
  .titr {
    height: 60px;
    background: $baseGreen;
    @include CenterElement();
    p {
      @include CenterElement();
      color: $baseGreen;
      background: white;
      border-radius: 20px;
      padding: 5px 40px;
      font-size: 18px;
    }
  }
  nav {
    padding: 10px 0 0 0;
    .top {
      display: flex;
      justify-content: space-between;
      .right {
        width: 65%;
        display: flex;
        direction: rtl;
        align-items: center;
        .logo {
          max-width: 150px;
          height: 80px;
          margin-right: 20px;
        }
        .search_input {
          width: 70%;
          height: 60px;
          padding: 10px;
          background: #f5f5f5;
          border-radius: 10px;
          display: flex;
          align-items: center;
          margin-right: 20px;

          input {
            outline: none;
            border: none;
            color: black;
            background: transparent;
            margin-right: 15px;
            width: 100%;
          }
          i {
            color: #b6b6b6;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
      .left {
        width: 35%;
        margin-left: 40px;
        label {
          display: none;
        }
        .sign_in_and_other {
          display: flex;
          align-items: center;
          cursor: default;
          i {
            color: $textGray2;
            font-size: 26px;
            margin-right: 15px;
          }
          .sign_in {
            display: flex;
            align-items: center;
            justify-content: center;
            direction: rtl;
            border: 1px solid $gray2;
            border-radius: 10px;
            padding: 10px 15px;
            margin-left: 20px;
            color: $textGray2;
            i {
              rotate: 180deg;
              margin: 0 0 0 20px;
            }
          }
        }
      }
    }
    .menu {
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: end;
      ul {
        li {
          display: inline-block;
          position: relative;
          margin: 0 10px;
          transition: 0.2s;

          &:hover {
            & > ul {
              opacity: 1;
              transition: 0.2s;
              display: block;
            }
          }

          ul {
            display: none;
            width: 250px;
            border-top: 2px solid $baseGreen;
            position: absolute;
            transition: 0.2s;
            text-align: right;
            padding: 10px;
            top: 30px;
            right: 0;
            font-size: inherit;
            opacity: 0;
            background: white;
            z-index: 10;
            li {
              padding: 10px 2px;
            }
          }
          a {
            transition: 0.2s;
            &:hover {
              color: $baseGreen;
              transition: 0.2s;
            }
          }
        }
      }
    }
    #openNavMenu{
      display: none;
    }
  }
}
.explain_1 {
  text-align: center;
  margin: 150px 0;
  p {
    margin-top: 30px;
    color: $textGray;
    &:nth-child(1) {
      width: 85%;
      margin: 0 auto;
      color: $textGray2;
    }
  }
}
.services {
  margin-top: 70px;
  border: 1px solid transparent;
  h1 {
    text-align: center;
    color: $textGray2;
  }
  img {
    margin: 40px auto 0;
    display: block;
  }
  .services_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 100px 100px 0;
    gap: 20px;
    .card {
      text-align: center;
      border: 4px solid $baseGreen;
      border-radius: 15px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 20px;
        color: black;
        margin-top: 30px;
      }
      p {
        font-size: 16px;
        color: $textGray2;
      }
      a {
        display: block;
        background: $baseGreen;
        border-radius: 10px;
        color: white;
        padding: 10px 20px;
        margin-top: 30px;
        box-shadow: 0 0 5px $gray2;
      }
      i {
        color: $textGray2;
        font-size: 60px;
        border: 2px solid $baseGreen;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        @include CenterElement();
        margin: 0 auto;
      }
    }
  }
}
.HTML_Education {
  @include MaxWidth();
  width: 85%;
  padding: 20px 0;
  margin-top: 100px;
  overflow: hidden;
  background: $gray;
  border-radius: 30px;
  position: relative;
  .right_Arrow {
    width: 47px;
    height: 47px;
    position: absolute;
    background: white;
    border-radius: 50%;
    z-index: 1;
    right: 20px;
    top: 45%;
    border: 1px solid $gray2;
    @include CenterElement();
    i {
      font-size: 20px;
    }
  }
  .left_Arrow {
    width: 47px;
    height: 47px;
    position: absolute;
    background: white;
    border-radius: 50%;
    z-index: 1;
    left: 20px;
    top: 45%;
    border: 1px solid $gray2;
    @include CenterElement();
    i {
      font-size: 20px;
    }
  }
  .container {
    width: 300%;
    display: flex;
    font-size: 16px;
    position: relative;
    left: 0;
    transition: 0.3s;
    .card {
      background: white;
      border-radius: 25px;
      width: 19.5em;
      margin: 0.625rem;
      text-align: center;
      border: 1px solid $gray2;
      position: relative;
      .eye {
        position: absolute;
        right: 20px;
        top: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $gray2;
        background: $gray2;
        @include CenterElement();
        i {
          color: white;
          font-size: 20px;
        }
      }
      img {
        display: block;
        width: 100%;
        height: 14.875em;
      }
      .titr {
        background: #6dcb6352;
        color: $textGray;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 0.75em;
        direction: rtl;
        margin: 10px 0 0 0;
        display: inline-block;
        cursor: default;
      }
      .explain {
        font-size: 15px;
        color: $darkGray;
        margin: 5px 5px 0;
        text-align: right;
        margin: 20px 20px 0;
        cursor: default;
      }
      .price {
        font-size: 24px;
        color: $darkGray;
        text-align: center;
        margin: 20px 0 20px 0;
        cursor: default;
        direction: rtl;
      }
    }
  }
}
.plan {
  @include MaxWidth();
  margin: 100px;
  font-size: 16px;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    .card {
      border-radius: 20px;
      border: 1px solid $lightBrown;
      overflow: hidden;
      .top {
        background: $lightBrown;
        padding: 20px 10px;
        p {
          text-align: center;
          &:nth-child(1) {
            font-size: 32px;
            color: $textGray;
          }
          &:nth-child(2) {
            font-size: 18px;
            color: $textGray;
          }
        }
      }
      & > p {
        text-align: center;
        color: $textGray;
        &:nth-child(2) {
          font-size: 40px;
          margin-top: 15px;
        }
        &:nth-child(3) {
          font-size: 24px;
        }
      }
      label {
        width: 50%;
        color: white;
        margin: 30px auto 30px;
        background: $darkBrown;
        border-radius: 10px;
        display: block;
        padding: 10px 0;
        text-align: center;
        box-shadow: 2px 2px 4px $gray2;
      }
      &:nth-child(1) {
        input {
          display: none;
          &:checked + .explain {
            display: block;
            transition: 0.5s;
          }
        }
      }
      &:nth-child(2) {
        input {
          display: none;
          &:checked + .explain {
            display: block;
            transition: 0.5s;
          }
        }
      }
      &:nth-child(3) {
        input {
          display: none;
          &:checked + .explain {
            display: block;
            transition: 0.5s;
          }
        }
      }
      .explain {
        direction: rtl;
        overflow: hidden;
        display: none;
        transition: 0.5s;
        p {
          font-size: 16px;
          margin: 10px 10px;
        }
      }
    }
  }
}
footer {
  padding: 30px 0 0 0;
  @include MaxWidth();
  font-size: 16px;
  margin-top: 100px;
  border-top: 4px solid $baseGreen;

  .top {
    padding: 0 70px;
    & > p {
      color: $textGray;
      direction: rtl;
    }
    .logo {
      direction: rtl;
    }
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10px;
    direction: rtl;
    margin: 70px 70px;
    font-size: 16px;
    .title {
      color: $darkGray;
      cursor: default;
      &::after {
        content: "";
        display: block;
        width: 50%;
        position: relative;
        height: 2px;
        background: $darkGreen;
        margin: 5px 0;
      }
    }
    ul {
      margin: 10px 0 0 0;
      li {
        margin: 10px 0 0 0;
        a {
          display: inline-block;
          position: relative;
          color: $textGray;
          transition: 0.2s;
          right: 0;
          &:hover {
            right: 4px;
            transition: 0.2s;
            font-weight: bold;
          }
        }
      }
    }
    .Enamad {
      display: flex;
      align-items: center;
      justify-content: end;
      img {
        display: inline-block;
      }
    }
    .NoTitle {
      margin-top: 40px;
    }
  }
  .line {
    background: $baseGreen;
    height: 2px;
  }
  .bottom {
    padding: 10px 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .social_media {
      i {
        color: $textGray2;
        font-size: 26px;
        margin: 0 10px;
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          color: $baseGreen;
        }
      }
    }
    ul {
      li {
        display: inline-block;
        margin: 0 10px;
        a {
          color: $textGray2;
        }
      }
    }
    p {
      color: $textGray2;
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    overflow: hidden;
    .titr {
      display: none;
    }
    nav {
      position: relative;
      
      .top {
        display: block;
        .right {
          width: 90%;
          display: block;
          margin: 0 auto;
          .logo {
            display: none;
          }
          .search_input {
            display: block;
            width: 90%;
            margin: 50px auto;
            input {
              width: 80%;
            }
          }
        }
        .left {
          width: 95%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: center;
          label {
            display: inline-block;
            i {
              font-size: 30px;
              color: $textGray2;
            }
          }
        }
      }
      .menu {
        position: absolute;
        z-index: 50;
        width: 50%;
        right: -70%;
        top: 70px;
        background: white;
        height: 900px;
        transition: 0.5s;
        ul {
          display: block;
          li {
            display: block;
            text-align: center;
            a {
              display: inline-block;
              padding: 10px 0;
            }
          }
        }
      }
      #openNavMenu {
        display: none;
      }
      #openNavMenu:checked + .menu {
        right: 0;
        transition: 0.5s;
        display: block;
        z-index: 55;
      }
    }
  }
  footer {
    .menu {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 50px;
    }
  }
  .services {
    .services_cards {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin: 100px 50px 0;
    }
  }
}
@media only screen and (max-width: 768px) {
  .services {
    .services_cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }

  .HTML_Education {
    .container {
      font-size: 12px;
      .card {
        min-width: 200px;
      }
    }
  }
  .plan {
    margin: 100px 50px;
    .container {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 30px;
    }
  }
  footer {
    .menu {
      margin: 70px 40px;
    }
    .bottom {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 30px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .services {
    .services_cards {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, 1fr);
    }
  }
  .HTML_Education {
    .container {
      .card {
        min-width: 250px;
      }
    }
  }
  footer {
    .menu {
      grid-template-columns: repeat(1, 1fr);
    }
    .bottom {
      padding: 10px 20px;
    }
  }
}
