@font-face {
  font-family: iranSans;
  src: url("../fonts/IRANSans.ttf");
}
* {
  font-family: iranSans;
  box-sizing: border-box;
}

header {
  max-width: 1800px;
  margin: 0 auto;
  background: white;
}
header .titr {
  height: 60px;
  background: #6ecb63;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .titr p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6ecb63;
  background: white;
  border-radius: 20px;
  padding: 5px 40px;
  font-size: 18px;
}
header nav {
  padding: 10px 0 0 0;
}
header nav .top {
  display: flex;
  justify-content: space-between;
}
header nav .top .right {
  width: 65%;
  display: flex;
  direction: rtl;
  align-items: center;
}
header nav .top .right .logo {
  max-width: 150px;
  height: 80px;
  margin-right: 20px;
}
header nav .top .right .search_input {
  width: 70%;
  height: 60px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
header nav .top .right .search_input input {
  outline: none;
  border: none;
  color: black;
  background: transparent;
  margin-right: 15px;
  width: 100%;
}
header nav .top .right .search_input i {
  color: #b6b6b6;
  font-size: 20px;
  margin-right: 10px;
}
header nav .top .left {
  width: 35%;
  margin-left: 40px;
}
header nav .top .left label {
  display: none;
}
header nav .top .left .sign_in_and_other {
  display: flex;
  align-items: center;
  cursor: default;
}
header nav .top .left .sign_in_and_other i {
  color: #636262;
  font-size: 26px;
  margin-right: 15px;
}
header nav .top .left .sign_in_and_other .sign_in {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: 20px;
  color: #636262;
}
header nav .top .left .sign_in_and_other .sign_in i {
  rotate: 180deg;
  margin: 0 0 0 20px;
}
header nav .menu {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: end;
}
header nav .menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  transition: 0.2s;
}
header nav .menu ul li:hover > ul {
  opacity: 1;
  transition: 0.2s;
  display: block;
}
header nav .menu ul li ul {
  display: none;
  width: 250px;
  border-top: 2px solid #6ecb63;
  position: absolute;
  transition: 0.2s;
  text-align: right;
  padding: 10px;
  top: 30px;
  right: 0;
  font-size: inherit;
  opacity: 0;
  background: white;
  z-index: 10;
}
header nav .menu ul li ul li {
  padding: 10px 2px;
}
header nav .menu ul li a {
  transition: 0.2s;
}
header nav .menu ul li a:hover {
  color: #6ecb63;
  transition: 0.2s;
}

.product {
  max-width: 1800px;
  margin: 0 auto;
}
.product .container {
  margin: 100px;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 20px;
}
.product .container .sort {
  display: flex;
  direction: rtl;
}
.product .container .sort > p {
  padding: 5px;
}
.product .container .sort ul li {
  display: inline-block;
}
.product .container .sort ul li a {
  padding: 5px;
  margin: 0 2px;
}
.product .container .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  margin-top: 50px;
}
.product .container .cards .card {
  border: 1px solid #b6b6b6;
  border-radius: 25px;
  overflow: hidden;
  background: white;
  position: relative;
}
.product .container .cards .card .eye {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #b6b6b6;
  background: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .container .cards .card .eye i {
  color: white;
  font-size: 20px;
}
.product .container .cards .card > * {
  cursor: default;
}
.product .container .cards .card img {
  width: 100%;
  height: 270px;
}
.product .container .cards .card .subTitle {
  direction: rtl;
  margin: 5px 10px;
  color: #4a4a4a;
  font-size: 15px;
}
.product .container .cards .card .tags {
  direction: rtl;
  margin: 5px 10px;
}
.product .container .cards .card .tags p {
  display: inline-block;
  padding: 5px;
  color: #4a4a4a;
  background: rgba(110, 203, 99, 0.2509803922);
  border-radius: 5px;
  font-size: 11px;
  margin: 5px 0 5px 5px;
}
.product .container .cards .card .explain {
  color: #4a4a4a;
  font-size: 17px;
  margin: 20px 25px;
  text-align: center;
  direction: rtl;
}
.product .container .cards .card .price {
  color: #4a4a4a;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.product .container .PageNumber {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.product .container .PageNumber a {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #6ecb63;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
}

footer {
  padding: 30px 0 0 0;
  max-width: 1800px;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 100px;
  border-top: 4px solid #6ecb63;
}
footer .top {
  padding: 0 70px;
}
footer .top > p {
  color: #4a4a4a;
  direction: rtl;
}
footer .top .logo {
  direction: rtl;
}
footer .menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  direction: rtl;
  margin: 70px 70px;
  font-size: 16px;
}
footer .menu .title {
  color: #4a4a4a;
  cursor: default;
}
footer .menu .title::after {
  content: "";
  display: block;
  width: 50%;
  position: relative;
  height: 2px;
  background: #1b3e1a;
  margin: 5px 0;
}
footer .menu ul {
  margin: 10px 0 0 0;
}
footer .menu ul li {
  margin: 10px 0 0 0;
}
footer .menu ul li a {
  display: inline-block;
  position: relative;
  color: #4a4a4a;
  transition: 0.2s;
  right: 0;
}
footer .menu ul li a:hover {
  right: 4px;
  transition: 0.2s;
  font-weight: bold;
}
footer .menu .Enamad {
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .menu .Enamad img {
  display: inline-block;
}
footer .menu .NoTitle {
  margin-top: 40px;
}
footer .line {
  background: #6ecb63;
  height: 2px;
}
footer .bottom {
  padding: 10px 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
footer .bottom .social_media i {
  color: #636262;
  font-size: 26px;
  margin: 0 10px;
  transition: 0.2s;
}
footer .bottom .social_media i:hover {
  transition: 0.2s;
  color: #6ecb63;
}
footer .bottom ul li {
  display: inline-block;
  margin: 0 10px;
}
footer .bottom ul li a {
  color: #636262;
}
footer .bottom p {
  color: #636262;
}

#openNavMenu {
  display: none;
}

@media only screen and (max-width: 992px) {
  .product .container .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  header {
    overflow: hidden;
  }
  header .titr {
    display: none;
  }
  header nav {
    position: relative;
  }
  header nav .top {
    display: block;
  }
  header nav .top .right {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  header nav .top .right .logo {
    display: none;
  }
  header nav .top .right .search_input {
    display: block;
    width: 90%;
    margin: 50px auto;
  }
  header nav .top .right .search_input input {
    width: 80%;
  }
  header nav .top .left {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  header nav .top .left label {
    display: inline-block;
  }
  header nav .top .left label i {
    font-size: 30px;
    color: #636262;
  }
  header nav .menu {
    position: absolute;
    z-index: 50;
    width: 50%;
    right: -70%;
    top: 70px;
    background: white;
    height: 900px;
    transition: 0.5s;
  }
  header nav .menu ul {
    display: block;
  }
  header nav .menu ul li {
    display: block;
    text-align: center;
  }
  header nav .menu ul li a {
    display: inline-block;
    padding: 10px 0;
  }
  header nav #openNavMenu {
    display: none;
  }
  header nav #openNavMenu:checked + .menu {
    right: 0;
    transition: 0.5s;
    display: block;
    z-index: 55;
  }
  footer .menu {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .product .container {
    margin: 70px 40px;
  }
  footer .menu {
    margin: 70px 40px;
  }
  footer .bottom {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .product .container .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  footer .menu {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .bottom {
    padding: 10px 20px;
  }
}/*# sourceMappingURL=product.css.map */