$baseGreen: #6ecb63;
$darkGreen: #1b3e1a;
$textGray2: #636262;
$textGray: #4a4a4a;
$gray2: #b6b6b6;
$gray: #f5f5f5;
$darkGray: #4a4a4a;
$lightBrown: #e9e3e2;
$darkBrown: #978481;

@mixin CenterElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin MaxWidth {
  max-width: 1800px;
  margin: 0 auto;
}
@font-face {
  font-family: iranSans;
  src: url("../fonts/IRANSans.ttf");
}
* {
  font-family: iranSans;
  box-sizing: border-box;
}
header {
  @include MaxWidth();
  background: white;
  .titr {
    height: 60px;
    background: $baseGreen;
    @include CenterElement();
    p {
      @include CenterElement();
      color: $baseGreen;
      background: white;
      border-radius: 20px;
      padding: 5px 40px;
      font-size: 18px;
    }
  }
  nav {
    padding: 10px 0 0 0;
    .top {
      display: flex;
      justify-content: space-between;
      .right {
        width: 65%;
        display: flex;
        direction: rtl;
        align-items: center;
        .logo {
          max-width: 150px;
          height: 80px;
          margin-right: 20px;
        }
        .search_input {
          width: 70%;
          height: 60px;
          padding: 10px;
          background: #f5f5f5;
          border-radius: 10px;
          display: flex;
          align-items: center;
          margin-right: 20px;

          input {
            outline: none;
            border: none;
            color: black;
            background: transparent;
            margin-right: 15px;
            width: 100%;
          }
          i {
            color: #b6b6b6;
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
      .left {
        width: 35%;
        margin-left: 40px;
        label {
          display: none;
        }
        .sign_in_and_other {
          display: flex;
          align-items: center;
          cursor: default;
          i {
            color: $textGray2;
            font-size: 26px;
            margin-right: 15px;
          }
          .sign_in {
            display: flex;
            align-items: center;
            justify-content: center;
            direction: rtl;
            border: 1px solid $gray2;
            border-radius: 10px;
            padding: 10px 15px;
            margin-left: 20px;
            color: $textGray2;
            i {
              rotate: 180deg;
              margin: 0 0 0 20px;
            }
          }
        }
      }
    }
    .menu {
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: end;
      ul {
        li {
          display: inline-block;
          position: relative;
          margin: 0 10px;
          transition: 0.2s;

          &:hover {
            & > ul {
              opacity: 1;
              transition: 0.2s;
              display: block;
            }
          }

          ul {
            display: none;
            width: 250px;
            border-top: 2px solid $baseGreen;
            position: absolute;
            transition: 0.2s;
            text-align: right;
            padding: 10px;
            top: 30px;
            right: 0;
            font-size: inherit;
            opacity: 0;
            background: white;
            z-index: 10;
            li {
              padding: 10px 2px;
            }
          }
          a {
            transition: 0.2s;
            &:hover {
              color: $baseGreen;
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}
.product {
  @include MaxWidth();
  .container {
    margin: 100px;
    background: $gray;
    border-radius: 20px;
    padding: 20px;
    .sort {
      display: flex;
      direction: rtl;
      & > p {
        padding: 5px;
      }
      ul {
        li {
          display: inline-block;
          a {
            padding: 5px;
            margin: 0 2px;
          }
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: 40px;
      row-gap: 40px;
      margin-top: 50px;

      .card {
        border: 1px solid $gray2;
        border-radius: 25px;
        overflow: hidden;
        background: white;
        position: relative;
        .eye {
          position: absolute;
          right: 20px;
          top: 10px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: $gray2;
          background: $gray2;
          @include CenterElement();
          i {
            color: white;
            font-size: 20px;
          }
        }
        & > * {
          cursor: default;
        }
        img {
          width: 100%;
          height: 270px;
        }
        .subTitle {
          direction: rtl;
          margin: 5px 10px;
          color: $darkGray;
          font-size: 15px;
        }
        .tags {
          direction: rtl;
          margin: 5px 10px;
          p {
            display: inline-block;
            padding: 5px;
            color: $textGray;
            background: #6ecb6340;
            border-radius: 5px;
            font-size: 11px;
            margin: 5px 0 5px 5px;
          }
        }
        .explain {
          color: $textGray;
          font-size: 17px;
          margin: 20px 25px;
          text-align: center;
          direction: rtl;
        }
        .price {
          color: $textGray;
          text-align: center;
          font-size: 24px;
          margin-bottom: 20px;
        }
      }
    }
    .PageNumber{
      display: flex;
      justify-content: center;
      margin: 50px 0;
      a{
        display: inline-block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid $baseGreen;
        color: $textGray;
        @include CenterElement();
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }
}
footer {
  padding: 30px 0 0 0;
  @include MaxWidth();
  font-size: 16px;
  margin-top: 100px;
  border-top: 4px solid $baseGreen;

  .top {
    padding: 0 70px;
    & > p {
      color: $textGray;
      direction: rtl;
    }
    .logo {
      direction: rtl;
    }
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10px;
    direction: rtl;
    margin: 70px 70px;
    font-size: 16px;
    .title {
      color: $darkGray;
      cursor: default;
      &::after {
        content: "";
        display: block;
        width: 50%;
        position: relative;
        height: 2px;
        background: $darkGreen;
        margin: 5px 0;
      }
    }
    ul {
      margin: 10px 0 0 0;
      li {
        margin: 10px 0 0 0;
        a {
          display: inline-block;
          position: relative;
          color: $textGray;
          transition: 0.2s;
          right: 0;
          &:hover {
            right: 4px;
            transition: 0.2s;
            font-weight: bold;
          }
        }
      }
    }
    .Enamad {
      display: flex;
      align-items: center;
      justify-content: end;
      img {
        display: inline-block;
      }
    }
    .NoTitle {
      margin-top: 40px;
    }
  }
  .line {
    background: $baseGreen;
    height: 2px;
  }
  .bottom {
    padding: 10px 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .social_media {
      i {
        color: $textGray2;
        font-size: 26px;
        margin: 0 10px;
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          color: $baseGreen;
        }
      }
    }
    ul {
      li {
        display: inline-block;
        margin: 0 10px;
        a {
          color: $textGray2;
        }
      }
    }
    p {
      color: $textGray2;
    }
  }
}
#openNavMenu{
  display: none;
}

@media only screen and (max-width: 992px) {
  .product{
    .container{
      .cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
    }
  }
  header {
    overflow: hidden;
    .titr {
      display: none;
    }
    nav {
      position: relative;
      
      .top {
        display: block;
        .right {
          width: 90%;
          display: block;
          margin: 0 auto;
          .logo {
            display: none;
          }
          .search_input {
            display: block;
            width: 90%;
            margin: 50px auto;
            input {
              width: 80%;
            }
          }
        }
        .left {
          width: 95%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: center;
          label {
            display: inline-block;
            i {
              font-size: 30px;
              color: $textGray2;
            }
          }
        }
      }
      .menu {
        position: absolute;
        z-index: 50;
        width: 50%;
        right: -70%;
        top: 70px;
        background: white;
        height: 900px;
        transition: 0.5s;
        ul {
          display: block;
          li {
            display: block;
            text-align: center;
            a {
              display: inline-block;
              padding: 10px 0;
            }
          }
        }
      }
      #openNavMenu {
        display: none;
      }
      #openNavMenu:checked + .menu {
        right: 0;
        transition: 0.5s;
        display: block;
        z-index: 55;
      }
    }
  }
  footer {
    .menu {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 50px;
    }
  }
  
}
@media only screen and (max-width: 768px) {
  .product{
    .container{
      margin: 70px 40px;
    }
  }
  footer {
    .menu {
      margin: 70px 40px;
    }
    .bottom {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 30px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .product{
    .container{
      .cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
      }
    }
  }
  footer {
    .menu {
      grid-template-columns: repeat(1, 1fr);
    }
    .bottom {
      padding: 10px 20px;
    }
  }
}
